<h1>Eat That Burger!</h1>



<ul>
  {{#each burgers}}
    <li>
      <p>
         <h2>{{this.id}}. {{this.burger_name}}</h2>
        <form action="/?_method=PUT" method="POST">
          <input type="hidden" name="id" placeholder="id">
          <button type="submit">Devour Burger!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>


{{!-- <ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      <p>
         <h2>{{this.burger_name}}</h2>
        </form>
      </p>
    </li>
  {{/each}}
</ul>vs





 --}}


<h2>Add a Burger</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Save Burgers!</button>
</form>

